*{
    margin: 0;
    font-family: arial;
    box-sizing: border-box;
}



.nav-bar{

    width: 100%;
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.nav-logo{

    height: 50px;
    width: 100px;
    
}

.logo{

    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;  
  
}

.border{

    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}
.upp{
    font-size: 0.85rem;
    color: #cccc;
    margin-left: 16px;
}
.low{

    font-size: 1rem;

}
.add-icon{
    display: flex;
    gap: 5px;
    align-items: center;
   
}
.searchBar{

    width: 620px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search{
    display: flex;
    width: 100%;
}

.Searchh{
    width: 100%;
    height: 40px;
    border: none;
}
.select{
    width: 50px;
    height: 40px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    background-color: #f3f3f3;
    text-align: center;
}
.search-icon{

    background-color: rgb(246, 151, 27);
    width: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: black;
}
span{

    font-size: 0.7rem;
}
.sec{

    font-size: 0.85rem;
    font-weight: 700;
}
.search:hover{
    border: 3px solid orange;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.cart i{

    font-size: 30px;
}

.cart {
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{

    height: 40px;
    background-color:  #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.ops p{
    display: inline;
    margin: 15px;
}
.ops{
    width: 70%;
    font-size: 0.85rem;
}
.deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.hero{

    background-image: url(hero_image.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
   top: 400px;
   width: 80%;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}

.box{

    margin-top: 10px;
    width: 23%;
    height: 420px;
    background-color:white;

}
.shopping{

    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: #e2e7e6;
}

.box-image{

    height: 300px;
    width: 300px;
    padding-left: 50px;
    margin: 20px;
    background-size: cover;
}
.box-content p{
    color: #007185;
}
.box-content{

    align-items: center;
    justify-content: center;
}

.shopping h2{

    padding: 15px;
}

.panel-1 a{

    margin-top: 20px;
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    text-decoration: none;
}

.panel2 {

    height: 400px;
    background-color:#222f3d;
    display: flex;
    justify-content: space-evenly;
    color: #dddddde9;

    

}

ul a{

    display: block;
    margin: 20px;
}

ul p{

    font-size: 15px;
    color: white;
    font-weight: 700;
}
ul{
    padding: 30px;
}

.panel3{

    height: 70px;
    width: 100%;
    background-color: #222f3d;
    border-top: 0.5px solid white;
    
}

img{
    width: 100px;
    height: 70px;
}

.logoo{

    display: flex;
    justify-content: center;
    align-items: center;
}

.panel4{

    height: 60px;
    background-color:#222f3d;
    color:#e2e7e6;

}
.p1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap: 20px;
    font-size: 12px;
}
.p2{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 5px;
}